<% content_for :head do %>
	<%= stylesheet_link_tag 'listview/reset.css', 'listview/style.css', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'listview/listview.js', 'data-turbolinks-track' => true %>
<% end %>
<div id="wrapper">
    <section id="cd-timeline" class="cd-container">
    </section>
</div>
