<!DOCTYPE html>
<html>
    <head>
		<link rel="stylesheet" href="../static/styles/map.css" type="text/css" media="screen" charset="utf-8">
		<script src="https://maps.googleapis.com/maps/api/js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	   	<script src="../static/js/maploader.js"></script> 
    </head>
    <body>
		<div id="map-canvas"></div>
		<div id="button-container">
		    <div class="align-center">
				<button class="align-center" type="button">Drop a Crumb</button>
		    </div>

		    <div id="notifications">

		    </div>
		</div>
    </body>
</html>

