<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="../static/styles/map.css" type="text/css" media="screen" charset="utf-8">
		<script src="https://maps.googleapis.com/maps/api/js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="/static/js/breadcrumbs.js"></script>
		<script src="/static/js/maploader.js"></script> 
		<script src="/static/js/sessionhandler.js"></script> 
		<script src="/static/js/syncrequests.js"></script> 
		<script src="/static/js/main.js"></script> 
	</head>
	<body>
		<div id="map-canvas"></div>
		<div id="button-container">


			<div id="notifications">

			</div>
		</div>
	</body>
</html>

